body {
    font-family: Arial, sans-serif;
    color: black;
    height: 100vh;
    margin: 0;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center-form {
    padding: 30px;
    border-radius: 8px;
    width: 300px;
}

.center-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.login-button {
    margin-top: 15px;
    text-align: center;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
